.states {
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin-top: 10px;
}

.states-row {
    display: table-row;
}

.states-cell {
    display: table-cell;
    border: 1px solid #000;
    text-align: center;
}

.states-btn {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 100%;
    padding: 0px 5px;
    margin: 2px 5px;
    cursor: pointer;
}

.states-btn:hover {
    color: #2196f3;
    border-color: #2196f3;
}

.states-cell-input {
    background: transparent;
    display: inline-block;
    padding: 0;
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
}

.states-cell-name-input {
    width: calc(100% - 40px);
}

.states-error {
    background: #faa;
}