.turing-machine, .turing-machine input {
    font: 20px 'Consolas';
}

.alphabet {
    margin-top: 10px;
    display: inline-block;
}

.alphabet input {
    max-width: 165px;
}

.controls {
    display: inline-block;
}

.control-btn {
    background: transparent;
    border: 1px solid #000;
    padding: 4px 5px;
    font-size: 18px !important;
    cursor: pointer;
}

.control-btn:hover {
    color: #2196f3;
    border-color: #2196f3;
}

.scroll-block {
    overflow: auto;
}