.turing-machine, .turing-machine input {
    font: 20px 'Consolas';
}

.turing-machine select {
    font: 17px 'Consolas';
}

.alphabet input[type="text"] {
    width: 230px;
}

.input-word input[type="text"] {
    margin-top: 10px;
    width: 252px;
}

.init-state {
    margin-top: 10px;
}

.control-btn {
    background: transparent;
    border: 1px solid #000;
    padding: 4px 5px;
    font-size: 18px !important;
    cursor: pointer;
    margin-top: 10px;
    min-width: 105px;
}

.control-btn:hover {
    color: #2196f3;
    border-color: #2196f3;
}

.scroll-block {
    overflow: auto;
}

.table { border-collapse: collapse; user-select: none; display: block; overflow-x: auto; white-space: nowrap; width: 100% }
.table td, .table th { border: 1px solid #000; text-align: center; padding: 2px 5px }

@media (max-width:767px) {
    .controls {
        display: block;
    }
}